<?php
/**
 * Configuration for the svneligible command.
 */

return array(
	// Regular expressions to exclude from the paths.
	'exclude' => array(
		'releases' => array(
			// Exclude the 'current/' release.
			'#^current/?$#',
		),

		'tags' => array(),
		'branches' => array(),
	),
);