<?php
/**
 * Configuration for the svneligible command.
 */

return array(
	'branch' => array(
		'quick-branch' => array(
			// "Quick" branching isn't enabled by default, as it's still in its infancy.
			'enabled' => FALSE,

			// The prefix *must* be a repo-relative path, starting with "^/".
			'prefix' => '^/branches/USERNAME/',
		),
	),

	'diff' => array(
		// Additional parameters to pass to the 'diff' command.
		'additional_parameters' => array(
			'-x', // Extra options coming up.
			'-w', // Ignore all whitespace.
		),
	),

	// Regular expressions to exclude from the paths.
	'exclude' => array(
		'branches' => array(),

		'releases' => array(
			// Exclude the 'current/' release.
			'#^current/?$#',
		),

		'tags' => array(),
	),

	'show' => array(
		// Parameters to pass to svn when updating.
		'update-parameters' => array(
			// '--ignore-externals',
		),
	),

	'merge' => array(
		// Parameters to pass to svn when updating.
		'update-parameters' => array(
			// '--ignore-externals',
		),
	),
);